header {
    background-color: #fff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

header a{
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 140px;
    height: 60px;
    margin-left: 20px;
}
